.score-grid {
  display: grid;
  grid-auto-columns: 60px;
  grid-template-columns: 200px repeat(auto-fit, 60px);
 justify-items: left;
 align-items: center;
 gap: 2em;
}

.cell {
  padding: 20px;
width: 100%;
text-align: center;
display: flex;
justify-content: space-between;
}

.cell--first {
   grid-column: 1;
   text-align: left;
}

.cell--last {
   grid-column: -1;
}

.button__icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
}

.name-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name-input {
  width: 100px;
}

.button-container {
  display: flex;
}

.icon--check {
  fill: green;
}

.icon--plus {
  fill: rgb(91, 182, 91);
}

.icon--x {
  fill: rgb(197, 64, 64);
}

.icon--pencil:hover {
  fill: blue;
}
.icon--plus:hover {
  fill: rgb(9, 66, 9);
}

.icon--x:hover {
  fill: rgb(113, 15, 15);
}
